


body{
    margin: 0px;
    text-align: center;
    font-family: 'Turret Road', cursive;

}

.top-container{
    background-color: #d6e6f2;
   position: relative;
   padding-top: 100px;
  
    
}

.middle-container{ 

}
.bottom-container{
   background-color: cadetblue;
   margin-top: 20px;
 
} 
.top-cloud{
    position: absolute;

}.bottom-cloud{
    position: absolute;
    top: 50px;
    right: 450px;
}
h1{
    font-size: 70px;
    color: #66BFBF;
}
.imga{
    border-radius: 50%;
    margin-top: 20px;
    width: 200px;
    height: 200px;
}
.linh{
    text-align: left;
    margin-left: 20px ;
}
p{
    font-size: 20px;
}
h3{
    font-size: 40px;
    color: #66BFBF;
    
}
.footer-link{
    font-size: 20px;
    color: white;

}
a{
    margin: 3px;
  
     
}
.link {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background: webkit-gradient( linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #599bb3 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99');
	background-color:#599bb3;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}.classname:hover {
	background: webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3) );
	background:-moz-linear-gradient( center top, #408c99 5%, #599bb3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3');
	background-color:#408c99;
}.classname:active {
	position:relative;
	top:1px;
}

h4{
    font-size: 25px;
    color: #66BFBF;
}
hr{
   border: dotted #EAF6F6 6px;
   border-bottom: none;
   width: 4%;
    
  
}
.information{
    font-family: 'Lexend Giga', sans-serif;
}
.corona{
    font-size: 17px;
}
.network{
    font-size: 30px;
    margin-top: 5px ;
}
.mountain{
    width: 900px;
    height: auto;
}
